body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}    

.navigation{
    background-color: goldenrod;
    /* margin-top: 20px; */
    padding: 20px 0;
    color: black;
    width: 100%;
    
}

.parent_div{
    display: flex;
    align-items:center ;
    justify-content: space-around;

}

.icon{
    display: flex;
    align-items: center;
    gap: 5px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    
}

a{
    color: black;
    list-style: none;

}

.main-footer{
    background-color: goldenrod;
    color: white;
    font-weight: bold;
}
.footer-section{
    display: flex;
    justify-content: space-around;
}

.chop{
    display: flex;
    justify-content: center;
    background-color: rgb(238, 173, 7);
    color: white;
}

li{
    list-style: none;
}

