* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}    

.navigation{
    background-color: goldenrod;
    /* margin-top: 20px; */
    padding: 20px 0;
    color: black;
    width: 100%;
    
}

.parent_div{
    display: flex;
    align-items:center ;
    justify-content: space-around;

}

.icon{
    display: flex;
    align-items: center;
    gap: 5px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    
}

a{
    color: black;
    list-style: none;

}


/* HERO SECTION */

.hero-container {
  height: 400px; 
  background-image: url("image/hero_1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;   
  align-items: center;       
  color: black;
}

.text-containers {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.text-containers h2 {
    font-size: 70px;
    margin-bottom: 20px;
}

.text-containers span {
    font-size: 18px;
}

#third-caption {
    margin-bottom: 20px;
}

input {
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
    align-self: center;
    padding: 15px;
    outline: none;
    border-radius: 5px;
}

.bx {
    font-size: 20px;
    position: relative;
    right: 30px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-footer{
    background-color: goldenrod;
    color: white;
    font-weight: bold;
}
.footer-section{
    display: flex;
    justify-content: space-around;
}

.chop{
    display: flex;
    justify-content: center;
    background-color: rgb(238, 173, 7);
    color: white;
}

li{
    list-style: none;
}
