* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}    

.navigation{
    background-color: goldenrod;
    padding: 20px;
    color: black;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    
}

.navigation:hover {
    background-color: #d4a017;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}



.parent_div{
    display: flex;
    align-items:center ;
    justify-content: space-around;

}

/* .icon{
    display: flex;
    align-items: center;
    gap: 5px;
} */

.icon img {
    height: 150px;
    width: auto;
    display: block;
}


ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    text-decoration: none;
    
}

.a{
    color: black;
    list-style: none;

}

.main-footer{
    background-color: goldenrod;
    color: white;
    font-weight: bold;
}
.footer-section{
    display: flex;
    justify-content: space-around;
}

.chop{
    display: flex;
    justify-content: center;
    background-color: rgb(238, 173, 7);
    color: white;
}

li{
    list-style: none;
}
