section {
    text-align: center;
    padding: 20px;
}

section h2 {
    font-size: 30px;
    font-weight: bold;
    width: 200px;
    margin: 0 auto;
}

section p {
    font-size: 16px;
    color: #333;
    max-width: 400px;
    margin: 10px auto;
}
